body {
    background-color: #3A53B5;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header h1 {
    padding: 10px;
    font-size: 50px;
    color: #f2f2f2;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    padding-bottom: 3rem;
}

.figImage{
    width: 70px;
}
